
#st1
{
    background-color: #292D33;
    margin-left: 500px;
    height: 500px;
}
.card{
    border:50px;
}
#ft12{background-color: #292D33; color: antiquewhite; padding-top: 100px; padding-left: 20px;}
.msg-form{background-color: #292D33;padding: 20px}
